body{
  margin: 0;
  font: normal 16ox Arial, Helvetica, sand-serif;
  color:#333;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: firebrick;
}

#login {
  background:#fff;
  opacity: 0.9;
  padding: 2em;
  border:#ccc 2px solid;
  position: absolute;
  top:100px;
  left:50px;
}

#login input[type="text"], #login input[type="password"]{
  padding:7px;
  matgin-bottom:10em;
  border:1px #ccc solid;
}
